a.logo {
    img {
        max-width: 115px;
    }
}

.purchase-button {
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-color;
    padding: 10px 12px;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    transition: 0.4s;
    background-color: #fff;
    @include row-center;



    .button-content {
        @include row-between;
        position: relative;
        overflow: hidden;

        span {
            transition: opacity 0.5s, transform 0.8s;
            transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transform: translateY(100%);
            }
        }
    }

    i {
        color: $primary-color;
        margin-left: 6px;
    }

    &:hover {
        background-color: $secondary-color;
        color: #fff;

        .button-content {
            span {
                &:nth-child(1) {
                    transform: translateY(-200%);
                }

                &:nth-child(2) {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    @media(min-width: 1200px) {
        font-size: 14px;
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: $secondary-color;

            .button-content {
                span {

                    &::before,
                    &::after {
                        color: $secondary-color;
                    }
                }
            }
        }

    }
}

.menu-toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 24px;
    height: 20px;

    .button-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
        margin-bottom: 5px;
        transition: 0.3s;

        &:nth-child(1) {
            width: 80%;

        }

        &:nth-child(3) {
            width: 80%;
            margin-bottom: 0;
        }
    }

    &.active {
        .button-line {
            &:nth-child(1) {
                width: 100%;
                transform: translateY(7px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                width: 100%;
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}

.scrolling-text {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;

    .text {
        opacity: 0.1;
        font-size: 70px;
        font-family: $primary-font;
        font-weight: 500;
        letter-spacing: 1px;
        color: $primary-color;
        animation: infiniteScroll 30s linear infinite;

        @media (min-width: 1200px) {
            font-size: 150px;
        }
    }
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.section-title {
    width: 100%;
    @include column-center;
    gap: 6px;
    padding: 20px 0;

    @media (min-width: 992px) {
        padding: 40px 0;
    }

    @media (min-width: 1200px) {
        padding: 60px 0;
    }

    h1 {
        text-transform: uppercase;
        color: $secondary-color;
        font-family: $secondary-font;

        @media (min-width: 992px) {
            font-size: 60px;
        }
    }

    h5 {
        text-transform: uppercase;
        color: $primary-color;
    }
}

