// black white level
$black-1: rgba(0, 0, 0, 0.1);
$black-2: rgba(0, 0, 0, 0.2);
$black-3: rgba(0, 0, 0, 0.3);
$black-4: rgba(0, 0, 0, 0.4);
$black-5: rgba(0, 0, 0, 0.5);
$black-6: rgba(0, 0, 0, 0.6);
$black-7: rgba(0, 0, 0, 0.7);
$black-8: rgba(0, 0, 0, 0.8);
$black-9: rgba(0, 0, 0, 0.9);

$white-1: rgba(255, 255, 255, 0.1);
$white-2: rgba(255, 255, 255, 0.2);
$white-3: rgba(255, 255, 255, 0.3);
$white-4: rgba(255, 255, 255, 0.4);
$white-5: rgba(255, 255, 255, 0.5);
$white-6: rgba(255, 255, 255, 0.6);
$white-7: rgba(255, 255, 255, 0.7);
$white-8: rgba(255, 255, 255, 0.8);
$white-9: rgba(255, 255, 255, 0.9);

$primary-color: #D3B025;
$secondary-color: #232323;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Oswald", sans-serif;

@import 'mixin';
@import 'components';

/*=============GLOBAL=================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: $primary-font;
    scroll-behavior: smooth;
    @include column-between;

    &.locked {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::selection {
    background: $secondary-color;
    color: #ffffff;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
    background-color: transparent;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

img {
    user-select: none;
    display: block;
}

svg {
    display: block;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    cursor: pointer;
}

a {
    transition: all 0.3s;
    cursor: pointer;
}

input {
    outline: none;
    font-family: var(--general-font);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        display: none;
    }
}

main {
    width: 100%;
    min-height: 50vh;
}

section {
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.swiper {
    width: 100%;
    z-index: 0;

    .swiper-slide {
        @include row-center;
    }

    &.pagination-true {
        padding-bottom: 40px;

        .swiper-pagination {
            bottom: 0 !important;
        }
    }
}

.row {
    width: 100%;
    margin: 0 auto;
}

.container {
    @media (min-width: 1600px) {
        max-width: 1500px;
    }
}


// header 
header {
    position: relative;
    width: 100%;

    .general-navbar {
        width: 100%;
        padding: 15px 0;
        background-color: #fff;
        position: relative;

        @media(min-width: 1200px) {
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }



    .mobile-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;

        .menu-links {
            width: 100%;
            @include column-align-start;
            padding: 15px;

            a {
                margin: 8px 0;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                color: $secondary-color;
                font-family: $secondary-font;
                letter-spacing: 1px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .header-content {
        width: 100%;
        min-height: 100vh;
        background-image: url('../images/header-banner.jpeg');
        background-repeat: no-repeat;
        z-index: 999;

        @media(min-width: 992px) {
            padding-top: 80px;
        }

        .image {
            width: 100%;
            max-width: 680px;
            z-index: 999;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .nav-links {
        width: 100%;
        @include row-between;

        a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $secondary-font;
            letter-spacing: 1px;

            &:hover {
                opacity: 0.8;
            }
        }

        @media(min-width: 1400px) {
            max-width: 80%;
        }
    }

    .inner-content {
        width: 100%;
        @include column-align-start;

        .content-title {
            color: #fff;
            text-transform: uppercase;
            font-family: $secondary-font;

            @media(min-width: 992px) {
                font-size: 80px;
            }

            @media(min-width: 1200px) {
                font-size: 110px;
            }
        }

        form {
            width: 100%;
            max-width: 450px;
            @include column-center;

            input {
                width: 100%;
                padding: 15px 25px;
                background-color: #fff;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-bottom: 20px;
            }

            button {
                width: 100%;
                @include row-center;
                background-color: $primary-color;
                color: $secondary-color;
                font-family: $secondary-font;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 15px;
                border-radius: 5px;
            }
        }

        .bottom-text {
            width: 100%;
            @include row-justify-start;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.3);
                @include row-center;
                color: #fff;
            }

            .text {
                color: rgba(255, 255, 255, 0.5);

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}


footer {
    width: 100%;
    padding: 30px 0;
    background-color: #fff;

    .footer-top {
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid $black-1;

        .footer-links {
            @include row-center;
            flex-wrap: wrap;
            gap: 15px;

            a {
                color: $secondary-color;
                font-family: $secondary-font;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    .footer-bottom {
        width: 100%;

        .footer-text {
            width: 100%;
            color: $secondary-color;
            font-family: $secondary-font;
            letter-spacing: 1px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: start;
            }

            a {
                color: $primary-color;
            }
        }

        .social-icons {
            @include row-center;
            gap: 15px;

            a {
                font-size: 22px;
                color: $secondary-color;
            }
        }
    }
}

.about-section {
    .card-row {
        position: relative;
        justify-content: center;
        z-index: 1;
        transition: 0.2s;

        .col-12 {
            @include row-center;
        }

        .about-shape {

            position: absolute;
            z-index: -1;


            &.shape-1 {
                @include row-end;
                top: -50%;
                right: 0;
            }

            &.shape-2 {
                @include row-start;
                bottom: -30%;
                left: 0;
            }

            img {
                display: none;

                @media (min-width: 1200px) {
                    display: flex;
                }
            }
        }
    }

    .about-card {
        width: 100%;
        max-width: 320px;
        border-radius: 10px;
        box-shadow: 0 0 10px $black-1;
        padding: 40px;
        @include column-center;
        text-align: center;
        background-color: #fff;

        .icon {
            @include row-center;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 52%;
                background-color: rgba($color: $primary-color, $alpha: 0.3);
                transition: 0.5s;
                transform: rotate(-40deg) translate(-15px, -6px);
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: rgba($color: $primary-color, $alpha: 0.3);
                transition: 0.5s;
                transform: rotate(-40deg) translate(15px, 6px);
                z-index: 1;
            }

            svg {
                width: 60%;
                height: 60%;
                object-fit: contain;
                transition: 0.3s;
                z-index: 2;
            }

        }

        .card-title {
            font-weight: 600;
            font-size: 18px;
            margin: 20px 0 10px;
        }

        .card-text {
            color: $black-5;
        }

        &:hover {
            .icon {
                svg {
                    color: #fff;
                }

                &::before {
                    height: 0;
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                    height: 100%;
                    background-color: $primary-color;
                    transform: translate(0, 0);
                }
            }
        }
    }

    .card-row {
        .col-12:nth-child(even) {
            .about-card {
                .icon {
                    &::before {
                        height: 0;
                    }

                    &::after {
                        height: 52%;
                    }
                }

                &:hover {
                    .icon {

                        &::after {
                            height: 0;
                            opacity: 0;
                        }

                        &::before {
                            opacity: 1;
                            height: 100%;
                            background-color: $primary-color;
                            transform: translate(0, 0);
                        }
                    }
                }
            }
        }
    }

    .about-bottom-text{
        width: 100%;
        @include row-center;
        gap: 15px;
        padding: 40px 20px;
        font-size: 20px;
        span{
            font-weight: 500;
            text-decoration: underline;
        }
        @media(min-width: 992px){
            font-size: 24px;
        }
    }

    .about-reports{
        width: 100%;
        background-color: $primary-color;
        border-radius: 10px;
        margin-top: 20px;
        
        .col-12{
            border-bottom: 1px solid #fff;
            &:last-child{
                border: none;
            }
            @media (min-width: 992px){
                border-bottom: none;
                border-right: 1px solid #fff;
            }
            &:last-child{
                border: none;
            }
        }
        .inner-content{
            padding: 20px;
            @include column-center;
            text-align: center;
            gap: 15px;
            @media (min-width: 992px){
                @include row-center;
                text-align: start;
                padding: 40px 20px;
            }
            .value{
                color: #fff;
                font-size: 54px;
                font-weight: 600;
                white-space: nowrap;
            }
            .text{
                max-width: 200px;
                font-size: 20px;
                span{
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }
    }
}
